  .topRow {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
  }  

  .dueDateLabel {
    justify-self: start;
    grid-column: 1;
  }
  

  .durationLabel {
    justify-self: center;
    grid-column: 2;
  }
  
  .topRow:not(:has(.dueDateLabel)) .durationLabel {
    grid-column: 1;
    justify-self: start;
  }

  .dueDateLabel {
    text-transform: uppercase;
    justify-self: start;
    grid-column: 1;
  }

  .durationLabel {
    justify-self: center;
    grid-column: 2; 
  } 
   
  .viewDetailsLink {
    grid-column: 3 !important;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .viewDetailsLink a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }

  .cardTitle {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0.2rem 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    max-width: 100%;
  }
   
  .cardDescription {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: var(--grey-light);
  }
    
  .buttonContainer {
    display: flex;
    /* justify-content: space-around;
    margin-top: 0.5rem;
    gap: 0.3rem; */
    gap: 0.5rem;
    margin-top: auto;
  }

  .buttonContainer button {
    display: flex;
    align-items: center;
   justify-content: center;
  }
    
  .editButton:hover,
  .deleteButton:hover,
  .checkboxButton:hover {
    background-color: var(--primary-dark);
    color: var(--white);
  }
  
  .buttonContainer a {
    text-decoration: none;
} 

  .checkbox {
    margin-left: 0.25rem;
    border: 1px solid var(--accent);
    vertical-align: middle;
  }