.form {
  max-width: 450px;
  margin: 2rem auto;
  background-color: var(--primary);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--white);
  color: var(--white);
  }

  .formInput {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid var(--grey-dark);
    background-color: var(--white); 
    color: var(--black); 
    resize: none; 
    overflow: hidden; 
  }
  
  
  .radio-groups {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .radio-group {
    flex: 1;
  }
  
  .radio-group p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .label, .input {
    display: inline-block;
    margin-bottom: 0.5rem;
  }