.footer {
    background: var(--accent);
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    color: var(--primary-dark);
    margin-top: 10px;
    width: 100vw;
    max-width: 1200px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 600px) {
    .footer {
        display: none;
    }
}