.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 0;
  }

.taskList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .title {
    text-align: center;
    margin: 0;
  }
  
  .controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .completedTitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem; 
    color: var(--text-light);
  }

  